# Global Code Owners for PerfumeScanner
# https://docs.github.com/en/repositories/managing-repository-files-and-folders/about-code-owners

# Default code owners for all files in the repository
* @bipinkapri-git
